fastapi[all]
# redis
# types-redis
uvicorn
numpy


pydantic
python-multipart

# Database
sqlalchemy
psycopg2-binary

# Authentication
python-jose[cryptography]
passlib[bcrypt]
pyjwt

# Additional utilities
python-dotenv
email-validator

loguru
boto3


fastapi-mail 
python-multipart 
jinja2